Name: <%= @rolle %>

<!-- TODO
<form action="/rollen/<%= @rolle.id %>/delete" class="pure-form pure-form-aligned" method="post">
<p>
  <a href="/rollen/<%= @rolle.id %>/edit" class="pure-button pure-button-primary">Bearbeiten</a>
  <input class="pure-button" type="submit" value="Löschen" style="color: white; background: rgb(202, 60, 60)"/>
</p>
</form>
-->
