<p>
  <a href="/klassen/neu" class="pure-button pure-button-primary">Anlegen</a>
</p>

<table class="pure-table pure-table-horizontal pure-table-striped sgh-elternverteiler-klassen">
  <thead>
    <tr>
      <th>Klasse</th>
      <th>Schüler</th>
      <th>Eltern</th>
    </tr>
  </thead>

  <tbody>

  <% klassen.each do |klasse| %>
    <tr>
      <td>
        <%== link_to(klasse) %>
      </td>
      <td>
        <%= klasse.schüler.size %>
      </td>
      <td>
        <%= klasse.eltern.size %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
