<table class="pure-table pure-table-horizontal pure-table-striped">
  <thead>
    <tr>
      <th>Klasse</th>
    </tr>
  </thead>

  <tbody>

  <% @klassen.each do |klasse| %>
    <tr>
      <td>
        <a href="/klassen/<%= klasse.id %>"><%= klasse %></a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
