<tr valign="top">
  <td>
    <a href="/ämter/<%= amt.id %>"><%= amt %></a>
  </td>
  <td>
    <%== partial('email-sgh', locals: { address: amt.mail }) %>
  </td>
  <td>
    <%= amt.inhaber.count %>
  </td>
</tr>
