<tr valign="top">
  <td>
    <a href="<%= liste.url %>"><%= liste.name %></a>
  </td>
  <td>
    <%== partial('email-sgh', locals: { address: liste.address }) %>
  </td>
  <td>
    <%= liste.members.count %>
  </td>
</tr>
