<tr>
  <th style="border-left-style: hidden; border-right-style: hidden; text-align: left;" colspan=2>
    <h2>Statistik</h2>
  </th>
</tr>

<tr>
  <th style="background-color: #f2f2f2; text-align: right;">Anzahl der Schüler</th>
  <td><%= item.schüler.count %></td>
</tr>

<tr>
  <th style="background-color: #f2f2f2; text-align: right;">Anzahl der Eltern</th>
  <td><%= item.eltern.count %></td>
</tr>
