<table class="pure-table pure-table-horizontal pure-table-striped">
  <thead>
    <tr>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Ämter</th>
      <th>Unterschrift</th>
    </tr>
  </thead>

  <tbody>

  <% elternbeirat.each do |ev| %>
    <tr>
      <td><%= ev.nachname %></td>
      <td><%= ev.vorname %></td>
      <td>
        <% ev.amtsperioden.group_by{|ap| ap.klasse }.each do |klasse, amtsperioden|  %>
          <%= amtsperioden.map{ |ap| ap.amt.name }.join(', ') %>
          <%= klasse %><br>
        <% end %>
      </td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
