<h2>Statistik</h2>

<ul>
  <li>
    <a href="/eltern">
      <%= eltern_total %> Eltern
    </a>
  </li>
  <li>
    <a href="/schueler">
      <%= sch端ler_total %> Sch端ler
    </a>
    <ul>
      <li>
        <a href="/schueler/nicht-erreichbar">
          <%= sch端ler_unreachable_total %> (<%= sprintf('%.2f%%', sch端ler_unreachable_percent) %>) nicht per Mail erreichbar
        </a>
      </li>
    </ul>
  </li>
</ul>
