<h2>Statistik</h2>

<ul>
  <li><%= eltern_total %> Eltern gesamt</li>
  <li><%= schueler_total %> Schüler gesamt</li>
  <li><%= schueler_unreachable_total %> Schüler (<%= sprintf('%.2f', schueler_unreachable_percent) %>) nicht per Mail erreichbar</li>
</ul>
