<h2>Statistik</h2>

<ul>
  <li>
    <a href="/eltern">
      <%= eltern_total %> Eltern
    </a>
  </li>
  <li>
    <a href="/schüler">
      <%= schüler_total %> Schüler
    </a>
    <ul>
      <li>
        <a href="/schüler/nicht-erreichbar">
          <%= schüler_unreachable_total %> (<%= sprintf('%.2f%%', schüler_unreachable_percent) %>) nicht per Mail erreichbar
        </a>
      </li>
    </ul>
  </li>
</ul>
