<h2>Statistik</h2>

<ul>
  <li>
    <a href="/eltern">
      <%= @eltern_total %> Eltern
    </a>
  </li>
  <li>
    <a href="/schueler">
      <%= @schueler_total %> Schüler
    </a>
    <ul>
      <li>
        <a href="/schueler/nicht-erreichbar">
          <%= @schueler_unreachable_total %> (<%= sprintf('%.2f%%', @schueler_unreachable_percent) %>) nicht per Mail erreichbar
        </a>
      </li>
    </ul>
  </li>
</ul>
