aside {
  margin: 1em 0;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #222;
}

aside.success {
  background: #00cc66;
}

aside.warning {
  background: #ffff00;
}

aside.error {
  background: #ff3300;
  color: #fff;
}

aside a, aside a:visited {
  color: rgb(169, 226, 255);
}

.footer {
  margin-left: 1em;
  font-size: small;
}
