<p>
  <a href="/채mter/neu" class="pure-button pure-button-primary">Anlegen</a>
</p>

<table class="pure-table pure-table-horizontal pure-table-striped sgh-elternverteiler-채mter">
  <thead>
    <tr>
      <th>Amt</th>
      <th>Mail</th>
      <th>Inhaber</th>
    </tr>
  </thead>

  <tbody>

  <% 채mter.each do |amt| %>
    <tr>
      <td>
        <a href="/채mter/<%= amt.id %>"><%= amt %></a>
      </td>
      <td>
        <%== partial('email-sgh', locals: { address: amt.mail }) %>
      </td>
      <td>
        <%= amt.inhaber.count %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
